<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>hasCode.com</title>
</h:head>
<h:body>
	<h1>Latest news from hasCode.com</h1>
	<p:panel>
		<p:feedReader value="http://www.hascode.com/feed/" var="feed">
			<h:outputText value="#{feed.title}" style="font-weight: bold" />
			<br />
			<h:outputText value="#{feed.description.value}" escape="false" />
			<p:separator />
		</p:feedReader>
	</p:panel>
	<hr/>
	<small><a href="http://www.hascode.com/">2013 Micha Kops / www.hascode.com</a></small>
</h:body>
</html>