<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>hasCode.com</title>
</h:head>
<h:body>
	<h1>hasCode.com Shell</h1>
	<p:panel>
		<h:form>
			<p:focus for="shell" />
			<p:terminal id="shell" widgetVar="shell"
				commandHandler="#{shellController.runCommand}"
				welcomeMessage="Welcome to the hasCode.com Shell" />
			<p:commandButton type="button" value="Clear" icon="ui-icon-trash"
				onclick="PF('shell').clear()" style="margin-top:10px" />
		</h:form>
	</p:panel>
	<hr />
	<small><a href="http://www.hascode.com/">2013 Micha Kops /
			www.hascode.com</a></small>
</h:body>
</html>
